<%- include('../partials/header') %>
<div>
    <div class="members">
        <h1>About Us</h1>
        <h2>team members</h2>
        <ul>
            <% memberstext.forEach(element => { %>
            <li><%= element.name %> - <%= element.role %></li>
            <% }) %>
        </ul>
        
    </div>
    <div>
        <h2>About us</h2>
        <p>
            <%= abouttext %>!
        </p>


    </div>
</div>

<%- include('../partials/footer') %>
