<%- include('../partials/header') %>
<h1 class="top">Upcoming Events</h1>
<div class="middle">
<br>
<p>Check out what's happening soon!</p>
<br>
<div class="event-list">
  <% if (events.length > 0) { %>
    <% events.forEach(event => { 
       const eventDate = new Date(event.date); // assuming event.date = "2025-06-01"


  const start = event.date.replace(/-/g, '') + 'T' + event.startTime.replace(':', '') + '00Z';
  const end = event.date.replace(/-/g, '') + 'T' + event.endTime.replace(':', '') + '00Z';
  %>
      <div class="event-card">
        <h2><%= event.title %></h2>
        <img src="<%= event.image %>" alt="<%= event.title %>">
        <p><strong>Date: </strong> <%= event.date %></p>
        <p><strong>Location: </strong> <%= event.location %></p>
        <p><strong>Start Time: </strong><%=event.startTime %></p>
        <p><strong>End Time: </strong><%=event.endTime %></p>
        <br>

        <a
      href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%= encodeURIComponent(event.title) %>&dates=<%= start %>/<%= end %>&details=Join+us+for+<%= encodeURIComponent(event.title) %>&location=<%= encodeURIComponent(event.location) %>"
      target="_blank">
      <button class="centerbtn" >Add to Google Calendar</button>
    </a>
      </div>
    <% }); %>
  <% } else { %>
    <p>No events found.</p>
    <br>
  <% } %>
</div>
</div>
<%- include('../partials/footer') %>
